.Person {
    text-align:center;
    width:60%;
    margin:10px auto;
    padding:10px;
    box-shadow: 1px 2px 9px #999;
    border-radius: 5px;
}

@media (min-width:500px){
    .Person {
        width:450px;
    }
}