.Logo {
  background-color: #fff;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo img {
  height: 100%;
}

.LogoText {
  padding: 5px 0;
  color: #fff;
  font-family: "Indie Flower", cursive;

  font-size: 1.2rem;
}
.LogoText span {
  font-size: 2rem;
}
