.ContactData {
  margin: 20px auto;
  padding:10px 5px;
  width: 80%;
  text-align: center;
  box-shadow: 1px 2px 4px #aaa;
  box-sizing: border-box;
}
.Form {
  padding: 0 11%;
}
/*.Form input {
  width: 55%;
  padding: 2px 5px;
  border: none;
  border-radius: 3px;
  background-color: #eee;
}
.Form input:focus {
  outline: none;
  background-color: #dfffdf;
  box-shadow: 1px 1px 3px #111;
}
.Form label,
.Form input {
  font-size: 0.72rem;
}
.InputWrapper {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
 .Input {
  display: inline-block;
}
.Label {
  text-align: left;
} */
@media (min-width: 600px) {
  .ContactData {
    width: 500px;
    padding: 5px 5px;
  }
  .Form {
    padding: 0 65px;
  }
  /* .Form input {
    width: 230px;
  }
  .Form label,
  .Form input {
    font-size: 1rem;
  } */
}
