.red {
  color: red;
}
.bold {
  font-weight: 800;
}
.Button {
  padding: 16px;
  font-family: Arial;
  color: #fff;
  background-color: #5b5;
  border: 1px solid #376;
  border-radius: 5px;
  cursor: pointer;
}
.Button:hover {
  color: #033;
  background-color: #8e8;
  box-shadow: 1px 1px 3px #678;
}

.Button.Red {
  padding: 16px;
  font-family: Arial;
  color: #ff0;
  background-color: #d33;
  border: 1px solid #743;
  border-radius: 5px;
  cursor: pointer;
}
.Button.Red:hover {
  background-color: #e66;
  box-shadow: 1px 1px 3px #678;
}
