.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  margin: 0 5px;
  padding: 5px;
  width: 80px;
  border: 1px solod #aa6817;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
  text-shadow: 0 0 0 transparent;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #d39952;
  border: 1px solid #6d3d0d;
  color: #fff;
}

.BuildControl .More {
  background-color: #8f5e1e;
  border: 1px solid #6d3d0d;
  color: #fff;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #daa972;
  color: #fff;
  text-shadow: 1px 2px 3px #6d3d0d;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #99703f;
  color: #fff;
  text-shadow: 1px 2px 3px #492909;
}
