.Input {
  width: 55%;
  padding: 5px 5px;
  border: 0.0375rem solid #fff;
  border-radius: 3px;
  background-color: #f1efee;
}
.Input:focus {
  outline: none;
  background-color: #eeffbb;
  border: 0.0375rem solid #ccc;
}

.Label,
.Input {
  font-size: 0.72rem;
}
.InputWrapper {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.Invalid {
  border: 1px solid #f00;
  background-color: #fda49a;
}

@media (min-width: 600px) {
  .Input {
    width: 230px;
  }
  .Label,
  .Input {
    font-size: 1rem;
  }
}
