.MenuOpenBtn {
  height: 100%;
  width: 40px;
  padding: 10px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.MenuOpenBtn div {
  width: 90%;
  height: 3px;
  background-color: #fff;
}
.MenuOpenBtn:hover div {
  width: 90%;
  height: 3px;
  background-color: #cca;
}

@media (min-width: 500px) {
  .MenuOpenBtn {
    display: none;
  }
}
